{% extends 'reg_app/base.html' %}
{% load  static %}
<!DOCTYPE html>
<html><head>
<title> {% block title%}البريد الوارد {% endblock %} </title></head>
<body>
    {%block content%}


    <!-- Editable table -->
<div class="card">
  
  <div class="card-body">
  {% if entries  %}
    <div id="table" >
      <span class="table-add float-right mb-3 mr-2"><a href="{% url 'reg_app:add_entry' %}" class="text-success"><i
            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered  table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">الموضوع</th>
            <th class="text-center">الباعث</th>
            <th class="text-center">تاريخ الاجابة</th>
            <th class="text-center">رقم المراسلة</th>
            <th class="text-center">تاريخ المراسلة</th>
            <th class="text-center">تاريخ الاستقبال</th>
            <th class="text-center">الملف</th>
          </tr>
        </thead>
        <tbody>
        {% for item in  entries %}
          <tr>
            <td class="pt-3-half" >{{item.subject}}</td>
            <td class="pt-3-half" >{{item.sender}}</td>
            <td class="pt-3-half" >{{item.date_response}}</td>
            <td class="pt-3-half" >{{item.num_of_file}}</td>
            <td class="pt-3-half" >{{item.date_of_file}}</td>
            <td class="pt-3-half" >{{item.date_recived}}</td>
            <td class="pt-3-half" >{{item.files}}</td>
            <td><center><a class="btn btn-sm btn-warning edit" name="{{ item.id }}">تعديل</a> <a class="btn btn-sm btn-danger delete" name="{{ item.id }}">حذف</a></center></td>
            
            <td class="pt-3-half" ><a href="{{item.get_absolute_url}}">المزيد</a></td>


          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <p class="lead text-center btn-info"> ...ليس هنالك بريد وارد ...</p>
    {% endif %}
  </div>
</div>
<!-- Editable table -->

{% endblock %}
</body>
</html>